In [2]:
import os
import pandas as pd

file = "statcast_data.csv"

df = pd.read_csv(file)

In [3]:
df2 = df[['player_name', 'pitcher']].drop_duplicates()
print(df2[['player_name']].value_counts())

player_name
Guerra, Javy       2
Allen, Logan       2
Castillo, Luis     2
Webb, Jacob        2
Pearson, Nate      1
                  ..
Grace, Regi        1
Grace, Matt        1
Gowdy, Kevin       1
Goudeau, Ashton    1
deGrom, Jacob      1
Name: count, Length: 1926, dtype: int64

In [4]:
single = lambda x: True if x in ['Guerra, Javy', 'Allen, Logan', 'Castillo, Luis', 'Webb, Jacob'] else False
df.drop(df[df['player_name'].apply(single)].index, inplace=True)

In [5]:
print(df[df['player_name'].str.contains('Feigl')])

Empty DataFrame
Columns: [player_name, pitcher, game_date, game_pk, pitch_of_game, at_bat_number, pitch_number, pitch_type, pitch_name, release_speed, release_pos_x, release_pos_z, zone, p_throws, type, pfx_x, pfx_z, plate_x, plate_z, vx0, vy0, vz0, ax, ay, az, sz_top, sz_bot, effective_speed, release_spin_rate, release_extension, release_pos_y, spin_axis]
Index: []

[0 rows x 32 columns]

In [6]:
file2 = 'injury_data.csv'
df3 = pd.read_csv(file2)

In [7]:
df3[df3['player_name'].isin(['Guerra, Javy', 'Allen, Logan', 'Castillo, Luis', 'Webb, Jacob'])]

,player_name,injury_type,Team,Pos,Injury / Surgery Date,Injury / Surgery,Status,IL Retro Date,Eligible to Return,Return Date,Latest Update
70,"Webb, Jacob",shoulder,ATL,RP,Jul '20,Strained shoulder,Active roster,07/20/20,09/03/20,09/08/20,Activated
182,"Guerra, Javy",elbow,SDP,RP,03/01/21,Sprained elbow,Activated,03/29/21,05/28/21,09/21/21,Activated
544,"Castillo, Luis",shoulder,CIN,SP,Mar '22,Shoulder soreness,Activated,04/04/22,04/14/22,05/09/22,Activated

In [8]:
from datetime import datetime

def convert_date_format(date_str):
    # Parse the date from the format "Mar '22"
    dt = datetime.strptime(date_str, "%b '%y")
    # Format the date to "2022-03"
    formatted_date = dt.strftime("%Y-%m")
    return formatted_date

In [9]:
df3[['Injury / Surgery Date', 'IL Retro Date']]

     Injury / Surgery Date IL Retro Date
0                 07/14/20      07/20/20
1                 09/23/20      09/22/20
2                 08/23/20      08/24/20
3                 09/22/20      09/23/20
4                 08/21/20      08/22/20
...                    ...           ...
1025              03/01/24      03/28/24
1026              12/06/23      03/28/24
1027              03/21/24      03/28/24
1028              05/03/23      03/28/24
1029              05/17/23      03/28/24

[1030 rows x 2 columns]

In [10]:
def not_valid_date(date_str):
    try:
        # Attempt to parse the date with the format 
        datetime.strptime(date_str, '%m/%d/%y')
        return False  # Date is valid and in the correct format
    except ValueError:
        return True

In [11]:
df3.drop(df3[df3['Injury / Surgery Date'].apply(not_valid_date)].index, inplace=True)

In [12]:
single = lambda x: True if x in ['Guerra, Javy', 'Allen, Logan', 'Castillo, Luis', 'Webb, Jacob'] else False

In [13]:
df3.drop(df3[df3['player_name'].apply(single)].index, inplace=True)

In [14]:
df3['Status'].isna().sum()

5

In [15]:
def convert_date_format2(date_str):
    # Parse the date from the format "Mar '22"
    dt = datetime.strptime(date_str, "%m/%d/%y")
    # Format the date to "2022-03"
    formatted_date = dt.strftime("%Y-%m-%d")
    return formatted_date

In [16]:
df3['Injury / Surgery Date'] = df3['Injury / Surgery Date'].map(convert_date_format2)

In [17]:
df3

,player_name,injury_type,Team,Pos,Injury / Surgery Date,Injury / Surgery,Status,IL Retro Date,Eligible to Return,Return Date,Latest Update
0,"Harvey, Hunter",elbow,BAL,RP,2020-07-14,Elbow soreness,Active roster,07/20/20,07/30/20,08/30/20,Activated
1,"Phillips, Evan",elbow,BAL,RP,2020-09-23,Elbow inflammation,Outrighted,09/22/20,10/02/20,09/30/20,Activated
2,"LeBlanc, Wade",elbow,BAL,SP,2020-08-23,Elbow stress reaction,45-Day IL,08/24/20,10/08/20,09/28/20,Out for 2020 season
3,"Zimmer, Kyle",elbow,KCR,RP,2020-09-22,Elbow ulnar neuritis,45-Day IL,09/23/20,11/07/20,09/28/20,Out for 2020 season
4,"Littell, Zack",elbow,MIN,RP,2020-08-21,Elbow inflammation,Active roster,08/22/20,09/01/20,09/06/20,Activated
...,...,...,...,...,...,...,...,...,...,...,...
1025,"Thompson, Mason",tommy,WSN,RP,2024-03-01,Tommy John surgery,60-Day IL,03/28/24,05/27/24,NaN,Out for 2024 season
1026,"Oviedo, Johan",tommy,PIT,SP,2023-12-06,Tommy John surgery,60-Day IL,03/28/24,05/27/24,NaN,Out for 2024 season
1027,"Moreta, Dauri",tommy,PIT,SP,2024-03-21,Tommy John surgery,60-Day IL,03/28/24,05/27/24,NaN,Out for 2024 season
1028,"Ray, Robbie",tommy,SFG,SP,2023-05-03,Tommy John surgery,60-Day IL,03/28/24,05/27/24,NaN,Questionable for 2024 season
1029,"Warren, Austin",tommy,SFG,RP,2023-05-17,Tommy John surgery,60-Day IL,03/28/24,05/27/24,NaN,Questionable for 2024 season

In [18]:
df4 = df3[['player_name', 'Injury / Surgery Date']]

In [19]:
df

,player_name,pitcher,game_date,game_pk,pitch_of_game,at_bat_number,pitch_number,pitch_type,pitch_name,release_speed,...,ax,ay,az,sz_top,sz_bot,effective_speed,release_spin_rate,release_extension,release_pos_y,spin_axis
0,"Scherzer, Max",453286,2020-07-23,630851,1,1,1,FF,4-Seam Fastball,95.3,...,-12.699151,28.237021,-15.689358,3.85,1.84,95.7,2484.0,6.3,54.21,226.0
1,"Scherzer, Max",453286,2020-07-23,630851,2,1,2,FF,4-Seam Fastball,96.1,...,-11.964765,30.151437,-12.476899,3.58,1.75,95.9,2477.0,6.1,54.38,226.0
2,"Scherzer, Max",453286,2020-07-23,630851,3,1,3,FF,4-Seam Fastball,96.7,...,-12.798480,30.880442,-14.099707,3.33,1.65,96.4,2421.0,6.2,54.29,224.0
3,"Scherzer, Max",453286,2020-07-23,630851,4,1,4,CU,Curveball,79.7,...,7.680712,22.130450,-39.867212,3.51,1.65,79.6,2846.0,6.2,54.28,60.0
4,"Scherzer, Max",453286,2020-07-23,630851,5,1,5,FF,4-Seam Fastball,96.1,...,-12.016982,30.128689,-14.962333,3.41,1.56,96.3,2450.0,6.4,54.09,227.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2652974,"Fried, Max",608331,2024-04-23,747130,208,65,1,SI,Sinker,94.4,...,12.302981,29.214628,-17.010887,3.41,1.61,95.3,2063.0,6.8,53.74,161.0
2652975,"Fried, Max",608331,2024-04-23,747130,209,65,2,CH,Changeup,86.0,...,9.411616,23.509049,-26.146010,3.41,1.61,87.4,1350.0,7.0,53.52,144.0
2652976,"Fried, Max",608331,2024-04-23,747130,210,66,1,FF,4-Seam Fastball,94.9,...,-0.521046,30.131341,-18.139126,3.18,1.51,95.6,2176.0,6.6,53.91,166.0
2652977,"Fried, Max",608331,2024-04-23,747130,211,67,1,SI,Sinker,96.0,...,16.614980,35.080867,-20.045509,3.53,1.72,96.1,2195.0,6.7,53.83,153.0
2652978,"Fried, Max",608331,2024-04-23,747130,212,67,2,SL,Slider,84.9,...,-5.077590,22.314613,-34.879846,3.53,1.72,85.8,2560.0,6.6,53.93,293.0

In [20]:
df5 = df4.groupby('player_name')['Injury / Surgery Date'].apply(list).reset_index(name='injuries')
df5

            player_name                                          injuries
0         Abreu, Albert                                      [2022-08-20]
1         Adams, Austin                          [2021-03-07, 2022-08-05]
2         Alcala, Jorge                          [2022-08-03, 2023-05-14]
3      Alcantara, Sandy                          [2023-10-06, 2023-10-06]
4      Alexander, Scott                          [2021-05-01, 2021-07-19]
..                  ...                                               ...
559         Zeuch, T.J.                                      [2021-04-18]
560        Zimmer, Kyle                                      [2020-09-22]
561  Zimmermann, Jordan                                      [2020-07-18]
562   Zuñiga, Guillermo                                      [2023-08-24]
563       deGrom, Jacob  [2021-07-17, 2022-03-31, 2023-06-12, 2023-06-12]

[564 rows x 2 columns]

In [21]:
df6 = df.groupby(['player_name', 'game_date'])['release_speed'].apply(list).reset_index(name='speeds')
df6

,player_name,game_date,speeds
0,"Abad, Fernando",2021-03-19,"[78.5, 91.2, 78.5, 91.3, 90.8, 91.3, 91.1, 90...."
1,"Abad, Fernando",2021-08-15,"[93.8, 94.6, 77.5, 77.2, 73.2, 94.8, 93.3, 74...."
2,"Abad, Fernando",2021-08-16,"[91.0, 76.7, 77.9, 77.7, 90.9, 91.5, 90.4, 76...."
3,"Abad, Fernando",2021-08-19,"[92.7, 93.1, 91.9, 76.0, 93.0, 74.3, 59.2, 71...."
4,"Abad, Fernando",2021-08-24,"[76.0, 92.1, 79.2, 77.5, 91.0, 90.2, 76.7, 75...."
...,...,...,...
79165,"deGrom, Jacob",2023-04-05,"[98.5, 99.0, 98.7, 98.2, 92.6, 98.7, 99.1, 93...."
79166,"deGrom, Jacob",2023-04-11,"[99.1, 99.4, 99.4, 100.1, 92.4, 92.0, 100.3, 9..."
79167,"deGrom, Jacob",2023-04-17,"[98.2, 98.0, 98.1, 98.1, 98.7, 99.2, 85.7, 98...."
79168,"deGrom, Jacob",2023-04-23,"[98.0, 91.4, 91.1, 91.5, 90.8, 98.8, 91.7, 91...."
79169,"deGrom, Jacob",2023-04-28,"[98.1, 98.7, 91.4, 99.3, 99.1, 92.7, 93.0, 98...."

In [ ]:
df = df[['player_name', 'game_date', 'pitch_of_game', 'release_speed', 'precedes_injury']]
df